.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56vw; /* Relación 4:5 respecto a 70vh */
    height: 70vh;
    background-color: white;
    border-radius: 3px;
    overflow:hidden;/* Evita el scroll */
    display: flex;
}

.left-container {
    width: 60%;
    height: 100%;
    background-color: black;
    position: relative;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.custom-button {
    background-color: rgba(255, 255, 255, 0.7);
    color: black; /* Da el color de lo que esta escrito dentro del boton*/
    border: none; /* Elimina el borde*/
    border-radius: 50%; /* Esta propiedad es la que le da forma de radio*/
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.custom-button:disabled {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: not-allowed;
}

.image {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 5; /* Mantiene la proporción 4:5 */
    object-fit: contain; /* Recorta la imagen si no encaja perfectamente */
}

.right-container {
    width: 40%;
    height: 100%;
    padding: 16px;
}

.username {
    border-bottom: 1px solid #ccc; /* Agrega un borde solo abajo */
}