/* Elimina márgenes y paddings globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-container {
    display: flex; /* Activa flexbox */
    min-height: 100vh;
}

.outlet-container {
    margin-left: 250px; /* Deja espacio para el menú */
    flex-grow: 1; /* Hace que el contenido ocupe el resto del espacio */
    padding: 40px;
}

@media (max-width: 768px) {
    .outlet-container {
        margin-left: 0;
        padding-bottom: 100px; /* Deja espacio para el menú abajo */

    }
  }