/* Elimina márgenes y paddings globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-container {
    display: flex; /* Activa flexbox */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.outlet-container {
    margin-left: 250px; /* Deja espacio para el menú */
    flex-grow: 1; /* Hace que el contenido ocupe el resto del espacio */
    padding: 40px;
}

@media (max-width: 768px) {
    .outlet-container {
      margin-left: 0;
      padding: 20px; /* Puedes ajustar el padding si quieres menos espacio */
      padding-bottom: 800px; /* Deja espacio para el menú abajo */
    }
  }