.container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: center; /* Centra horizontalmente */
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  text-align: center; /* Opcional: centra el texto */
}
.top-container {
  margin-bottom: 50px;
}

.bottom-container {
  width: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Distribuye los botones uniformemente */
  align-items: center;
  border-top: 2px solid lightgray;
  padding-top: 0px;
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: -1px;
  gap: 50px;
}

.bottom-container button {
  border: none;
  background: none;
  cursor: pointer;
  padding-top: 18px;
}

.bottom-container button.active {
  border-top: 2px solid black;
  font-weight: bold;
}