li {
    position: relative;
    list-style-type: none; /* Quitar los puntos de la lista */
    cursor: pointer;
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    color: inherit; /* Mantener el color del texto */
    margin-top: 0;
    margin-bottom: 50px; /* Ajusta el valor para controlar la separación */
    border-radius: 10px;
    font-size: 20px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    padding: 10px 20px; /* Aplica el padding aquí */
}

/* Opcional: elimina el margen del último elemento */
li:last-child {
    margin-bottom: 0;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Oscurecer un poco el fondo al hacer hover */
}

.div-logo {
    /* Estilo para el logo */
    margin-bottom: 50px; /* Ajusta el valor para controlar la separación */
}

.side-menu {
    position: fixed;
    width: 250px; /* Ancho del menú */
    background-color:white;
    padding: 20px;
    height: 100vh; /* Para que el menú ocupe toda la altura */
    left: 0;
    top: 0;
    z-index: 1000;
    border-right: 1px solid #ccc; /* Borde gris claro en el lado derecho */
}

.create-dropdown {
    position: absolute; /* Asegura que el dropdown se posicione de manera absoluta */
    top: 440px;
    z-index: 1000; /* Un valor alto para que aparezca por encima de otros elementos */
    background-color: white; /* Fondo blanco para el dropdown */
    border: 1px solid #ccc; /* Borde para el dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
    padding: 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    padding-left: 10px; /* Quitar el padding izquierdo */
}

.create-dropdown li {
    margin: 5px 0; /* Espaciado entre los elementos de la lista */
}