@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.side-menu {
  position: fixed;
  width: 250px; /* Ancho del menú */
  background-color:white;
  padding: 20px;
  height: 100vh; /* Para que el menú ocupe toda la altura */
  left: 0;
  top: 0;
  border-right: 1px solid #ccc; /* Borde gris claro en el lado derecho */
  overflow: visible; /* permite scroll horizontal sino cabe*/
  z-index: 1; /* evita que las imagenes de los posts se superpongan al sidemenu*/
}

.option {
  cursor: pointer;
  text-decoration: none; /* Quitar el subrayado de los enlaces */
  color: inherit; /* Mantener el color del texto */
  margin-top: 0;
  margin-bottom: 50px; /* Ajusta el valor para controlar la separación */
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px 20px; /* Aplica el padding aquí */
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Oscurecer un poco el fondo al hacer hover */
}

/* Opcional: elimina el margen del último elemento */
.side-menu>div:last-child {
    margin-bottom: 0;
}

.active {
    font-weight: bold;
}

.side-menu .logo {
    /* Estilo para el logo */
    margin-bottom: 50px; /* Ajusta el valor para controlar la separación */
    font-family: 'Pacifico', cursive;
    font-size: 21px;
}

.div-search, .div-create{
  position: relative;
}

.create-dropdown {
  position: absolute;
  top: 100%; /* Esto lo coloca debajo del elemento padre */
  left: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-dropdown > div {
  padding: 10px;
}

.create-dropdown > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;
}


@media (max-width: 768px) {
    .side-menu {
      bottom: 0; /*lo mantiene pegado abajo*/
      top: auto; /*lo mantiene pegado abajo junto a la propiedad 'bottom'*/
      width: 100%;
      height: auto;
      margin-bottom: 0;
      border-right: none;
      border-top: 1px solid #ccc;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      overflow-x: auto;
    }

    .option {
      margin-bottom: 0px;
    }
  
    .side-menu .logo {
      display: none; /* Oculta el logo en vista móvil si no es necesario */
    }

    .create-dropdown { /*no hay que repetir todo el .create-dropdown, solo lo que queremos cambiar*/
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  