.posts-container {
    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center; /* Centra los posts horizontalmente */
    min-height: 100%; /* ocupa toda la altura de la pantalla */
    flex-direction: column;
}