.post {
    width: 100%; /* Ajusta el ancho según sea necesario */
    max-width: 600px; /* Limita el ancho máximo */
    border-bottom: 1px solid #ccc; /* Agrega un borde solo abajo */
    padding: 10px 0; /* Espaciado interno */
}

.image-container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%; /* Ajusta al ancho del contenedor */
    height: 100%; /* Ajusta al ancho del contenedor */
    aspect-ratio: 4 / 5; /* Mantiene la proporción 4:5 */
    object-fit: contain; /* Recorta la imagen si no encaja perfectamente */
}